body{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.d-flex{
    display: flex;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}



.top-10{
    margin-top: 10px;
}
.top-20{
    margin-top: 20px;
}
.top-30{
    margin-top: 30px;
}
.top-40{
    margin-top: 40px;
}
.top-50{
    margin-top: 50px;
}
.top-60{
    margin-top: 60px;
}
.ml-10{
    margin-left: 10px;
}