body{
    margin: 0;
    padding: 0;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}

h5{
    margin: 0;
}

.container-ml{
    padding: 100px;
}
.d-flex{
    display: flex;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-wrap{
    flex-wrap: wrap;
}

.text-aling-center{
    text-align: center;
}
.aling-item-center{
    align-items: center;
}


.top-10{
    margin-top: 10px;
}
.top-15{
    margin-top: 15px;
}
.top-20{
    margin-top: 20px;
}
.top-25{
    margin-top: 25px;
}
.top-30{
    margin-top: 30px;
}
.top-40{
    margin-top: 40px;
}
.top-50{
    margin-top: 50px;
}
.top-60{
    margin-top: 60px;
}



.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}
.ml-50{
    margin-left: 50px;
}

.font-14{
    font-size: 14px;
}

.gray-color{
    color: gray;
}
.light-black{
    color: rgb(61, 59, 59);
}

.white-color{
    color: white;
}