.about-the-company{
    width: 100%;
    
}
.company-text{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.new-horizons{
    width: 522px;
    height: 300px;
    margin-left:300px;
}

.horizons-text{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.info-company{
    width: 470px;
}

