.last-minute-tourse{
    width: 100%;


    margin-top: 46px;
}

.place-rest-item{
    width: 521px;
    height: 257px;

    margin-left: 92px;
}

.scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: rgb(7, 150, 155);
    color: white;
    border-radius: 5px ;
    border-radius: 1px solid rgb(7, 150, 155);
    cursor: pointer;

}


.rating {
    display: inline-block;
    position: relative;
  }
.rating::before {
    content: "\2605\2605\2605\2605\2605"; /* пятизвездочный рейтинг */
    color: #e6b800; /* цвет звездочек */
  }
  .rating[data-rating="4"]::before {
    content: "\2605\2605\2605\2605\2606"; /* четыре звездочки и одна без */
  }
  .rating[data-rating="5"]::before {
    content: "\2605\2605\2605\2605\2606"; /* четыре звездочки и одна без */
  }


  
 
  @media (min-width: 1245px) {
    .last-minute-tourse{
      width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .last-minute-tourse{
    width: 110%;
  }
}    
@media (max-width: 991px ) and (min-width: 768px) {
.last-minute-tourse{
  width: 110%;
}
.place-rest-item{
  margin-left: 107px;
}
.img-last-minute{
  margin-left: 23px;
}
.description-tourse{
  font-size: 20px;
}
.light-black{
  font-size: 30px;
}
.gray-color{
  font-size: 20px;
}
}

@media (max-width:990px) and (min-width: 650px ){}