.send-message{
    width: 100%;
    height: 596px;
}
.send-message-input {
    width: 654px;
    align-items: center;
}
.send-message-text{
    width: 654px;
    height: 50px;
}
.send-message-text-4{
    width: 654px;
    height: 181px;
}

.message-button{
    width: 661px;   
}




@media (min-width: 1245px) {
    .send-message{
        width: 100%;
    }
    .send-message-text-4{
        border: 2px solid gray;
    }
    .send-message-text{
        border: 2px solid gray;
    }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
    .send-message{
        width: 109%;
    }
    .send-message-text-4{
        border: 2px solid gray;
    }
    .send-message-text{
        border: 2px solid gray;
    }
}
 @media (max-width: 991px ) and (min-width: 768px) {
    .send-message{
        width: 109%;
    }
    .send-message-text-4{
        border: 2px solid gray;
        font-size: 17px;
    }
    .send-message-text{
        border: 2px solid gray;
        font-size: 17px;
    }
 }
 
 @media (max-width:990px) and (min-width: 650px ){}