.team{
    width: 100%;

    margin-top: 60px;
}


.staff-item{
    width: 205px;
    height: 249px;

    border: 1px gray solid;
}
.staff{
    padding: 0 140px;
}

@media (max-width: 1307px){
    .team{
     width: 130%;
    }
    .staff-item{
        height: 264px;
    }
    .staff-img{
        margin-top: 10px;
    }
}