.tours{
    width: 100%;
    height: 507px;

    margin-top: 60px;
}

.tours-ways{
    position: relative;
}
.tours-img{
    display: block;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 3px solid white;
    padding: 9px;

    width: 257px;
    height: 173px;
}
.tours-text{
    font-size: 40px;
    text-align: center;
}
.name-country{
    position: absolute;
    top: 61%;
    left: 27%;

    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
}